[Desktop Entry]
Name=Switchbox
Comment=Media routing and manipulation program
Type=Application
Icon=com.github.SammyMcFly.switchbox
Exec=switchbox %F
Terminal=false
StartupNotify=true
Categories=COSMIC
Keywords=COSMIC
MimeType=
